<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAOVYDIUCXK1Gph-Y5Mb5t_arL-fTlO798</string>
	<key>GCM_SENDER_ID</key>
	<string>759279164381</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.idnTrack.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>idntrack</string>
	<key>STORAGE_BUCKET</key>
	<string>idntrack.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:759279164381:ios:818aa5905827f77b7cf434</string>
</dict>
</plist>